<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtWL96Vsk61jRHGXShU80w-D09AGbBGz8</string>
	<key>GCM_SENDER_ID</key>
	<string>611264064314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dima.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dima-7c630</string>
	<key>STORAGE_BUCKET</key>
	<string>dima-7c630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611264064314:ios:cfb5b73c00c0b845387e03</string>
</dict>
</plist>